.container {
    display: flex;
    height: 80vh; 
    padding: 20px; 
    background-color: #b2e4fa; 
    padding: 20px 40px;
    margin-top: 50px;
    color: black;
}

.left-panel, .right-panel {
    flex: 1;
    padding: 10px; 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d9f2fd;
}

.left-panel:before {
    left: -20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.right-panel:before {
    right: -20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.left-panel {
    border-right: 2px solid black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.right-panel {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

button {
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    background-color: hotpink; 
    color: white;
    border-radius: 20px; 
    border: none; 
    width: 200px;
    display: flex;
    flex-direction: column-reverse; 
    align-items: center;
}

button:disabled {
    background-color: gray; 
    cursor: not-allowed; 
  }

.left-panel img,
.right-panel img {
    max-width: 80%; 
    max-height: 80%; 
    width: auto;
    height: auto;
    margin: 0 auto; 
    display: block; 
    padding: 10px; 
}